@charset "utf-8";

#consultas{      /*div que se usa para contener las consultas en general*/
	width:auto;/*99.4% auto*/
	height:auto;
	/*border:2px solid #00b0d9;
	background-color:#ffffff;*/
	padding-bottom:2px;
	font-size:10px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;

}
#constitulo{
	width:100%;/*980px;*/
	margin:auto;
	height:18px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	border:1px solid #48d1fe;/* #48d1fe */
	background-color:#075db2;/* #075db2*/
	color:#48d1fe;
	font-weight: bold;
	
}


#botonform{
padding:5px 10px 5px 10px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
background-color:#075db2;
color:#48d1fe;
border:0px solid #000000;
cursor:pointer;
}
#botonform:hover{
padding:5px 10px 5px 10px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
background-color:#4A86BE;
color:#FFFFFF;
border:0px solid #000000;
cursor:pointer;
}
.cajas{
padding:4px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
border:1px solid #9DC0D0;
background-color:#FFFFFF;
color:#075db2;/*#31c5f8;*/
}
.cajas:hover{
padding:4px;
font-family:Arial, Helvetica, sans-serif;
color:#FF0000;
font-size:11px;
border:1px solid #9DC0D0;
background-color:#E5F5FD;
}


#contenidosp{				/*div que se usa para mostrar consultas en general con barra de desplazamiento lateral*/
	width:auto;/*950px;*/
	margin:auto;
	height:280px;/*auto;* para que salga la barra de desplazamiento*/
	overflow: auto;     /*esto es para la barra de desplazamiento del DIV */
	margin-top:1px;
	font-size:10px;
	border:1px solid #25c3f6;
	background-color:#ffffff;
	padding-bottom:1px;
	color:#000066;
	margin-left:15px;
	margin-right:15px;
}

form{					/*configura opciones para el formulario*/
	border:1px solid #006600;
	background-color:#BDF381;
	width:100%;/* width:590px*/
	margin:auto;
	margin-bottom: 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}
form input,select{
	padding:4px;
	text-transform:uppercase;
}


form#formulario2{
	background-color:#edf2f2;
	border: solid 1px #25c3f6;
	color:#F60;
	width:auto; /*500px;*/
	margin-bottom:0px;
	margin-left:15px;
	margin-right:15px;		
	
}

#tabla2{
	width:95%; 
	margin:auto;
}
#tabla_listado{
	width:auto; 
	margin-left:5px;
	margin-right:5px;		
}


form#formulario3{
	background-color:#edf2f2;
	border: solid 1px #25c3f6;
	color:#F60;
	width:auto; /*950px;*/
	margin-bottom:0px;
	margin-left:15px;
	margin-right:15px;	
}
#tabla3{
	width:95%;/*920px;*/
	margin:auto;
}

#tabla2_1{
	width:96.4%; /*952px;*/
	margin:auto;
	margin-left:15px;
	margin-right:15px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	
	
}
#tablacarrito{				
	width:100%;/*950px;*/
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	}
	
form#formulario4{
	background-color:#edf2f2;
	border: solid 1px #25c3f6;
	color:#F60;
	width:99.8%;
	margin:auto;
	/*margin-bottom:0px;
	margin-left:5px;*/
}

td{
	border-bottom:1px solid #c6e0fa;
	padding:3px 0px 3px;
}
td.sin{
	border-bottom:0px solid #c6e0fa;
	padding:0px 0px 0px;
	}

/*tr:hover{   usado para definir el color de fondo de la fila al 
			pasar el mouse por encima de la fila de la tabla /*
			
			
			background-image:url(../reporticonos/menu.png);
			/*background-image:url(../iconos/fondo3.jpg);*/
			/*background-image:url(../iconos/fondo.jpeg);
			background:#dddcf6;
			color:#FFFFFF;
			cursor:pointer;
		}*/
	
th{
	/*background-color:#336600;*/
	background-color:#0860b8;
	padding:3px 0px 3px;
	color:#31c5f8;
}
	
th .sin{
	/*background-color:#336600;*/
	background-color:#0860b8;
	padding:0px 0px 0px;
	
}

.sombra { 
	background:#dddcf6;
	color:#FF0000;
	cursor:pointer;
	font-size:10px;
    border:2px solid #BCBCBC; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	}
.fila2 { 
	background-color:#edf2f2; 
	border-bottom:solid #FFFFFF; 
	border-width:2px 0;
	color:#075db2;
		font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	}
.fila1{ 
	background-color:#FFFFFF; 
	border-bottom:solid #FFFFFF; 
	border-width:2px 0;
	color:#31c5f8;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	}